<!DOCTYPE HTML>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow">
	<meta name="description" content="" />
	<link href="{$URL}commom/img/icon-tab.png" rel="icon">
    {include file="../inc/cssUrmAmigavel.html"}
	<link rel="stylesheet" type="text/css" href="{$URL}commom/css/estilo.css">
	<title>BDA</title>
 	<!-- Bootstrap -->
    <link href="{$URL}commom/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container-fluid pd-none">
        {include file="../inc/header.html"}
            <!-- Banner -->
            <article class="banner-interna-faixa cor-linha-bn-solucoes pd-none">
                <img class="pull-right abs-left hidden-xs" src="{$URL}commom/img/bg-solucoes1.jpg" alt="Churn Analysis" title="Churn Analysis"> 
                <div class="width-default">
                    <h1 class="titulo-faixa-interna pd-titulo-faixa-interna">Churn Analysis</h1>
                </div>
                <img class="pull-right abs-right hidden-xs" src="{$URL}commom/img/bg-solucoes2.jpg" alt="Churn Analysis" title="Churn Analysis">
            </article> 
            <!-- Banner -->
            {include file="../inc/breadcrumb.html"}        
            <section class="conteudo-interna">
                <article class="width-default">
                    <div class="row">
                        <!-- <div class="col-xs-12 col-sm-3 col-md-3">
                            <img src="{$URL}commom/img/img-default.jpg" alt="BDA" title="BDA" class="">             
                        </div> -->
                        <div class="col-xs-12 col-sm-11 col-md-11">
                            <img src="{$URL}commom/img/churn-analysis.jpg" alt="Churn Analysis" title="Churn Analysis" class="lf-so-desk mg-right-bt-25">
                            <p class="txt-interna">
                            O objetivo principal da “Churn Analysis”  é ajudar o cliente a identificar e focar nos clientes que tenham uma valoração maior dentre da sua empresa, determinar quais ações geralmente precedem a perda de um cliente ou de uma venda, além de compreender melhor quais fatores influenciam nos gastos do cliente. Aperfeiçoando a retenção de clientes, você melhora consideravelmente os resultados.<br><br> 

                            Desta maneira você pode identificar os clientes que são os mais suscetíveis para fazer previsões precisas, revelar segmentos de clientes e razões para a retenção, se envolver com os clientes para melhorar a comunicação e lealdade, calcular taxas de atritos, desenvolver campanhas de marketing eficazes para atingir os clientes e aumento rentabilidade. Utlizando uma combinação de algoritmos de modelagem avançada, você pode desenvolver modelos poderosos que podem ajudar na previsão precisa do comportamento e tendências do cliente e evitando perde-los.<br><br> 

                            <strong>Soluções Aplicadas: </strong>
                            
                             
                            </p>
                            <ul class="bloco-linha-interna no-bg ul-com-list">
                                <li class="linha-ul-interna"><strong>Lote ou Processamento em tempo real:</strong> Use os modelos que você construiu para determinar a rotatividade e indicar, quer por lote ou em tempo real, os clientes que estão propensos a transferir seus negócios para outra empresa.</li>
                                <li class="linha-ul-interna"><strong>Análise preditiva de ponta : </strong> Fornece uma grande variedade de algoritmos sofisticados básico para a construção de modelos de  maior precisão para  uma melhor analise de churn.</li>
                                <li class="linha-ul-interna"><strong>Ferramentas inovadoras de dados pré-transformação: </strong>  Fornece uma lista muito abrangente de ferramentas de gerenciamento e visualização de dados.</li>
                                <li class="linha-ul-interna"><strong>Fluxo de trabalho Integrado: </strong> Utilizando uma plataforma de Decisão é possível oferecer um fluxo de trabalho simplificado para análise preditiva poderosa, baseada em regras, onde as regras de negócio e normas do setor são usadas ​​em conjunto com análises avançadas para construir os melhores modelos.</li>
                                <li class="linha-ul-interna"><strong>Resultados otimizados: </strong> Compare os mais recentes algoritmos de mineração de dados side-by-side para determinar quais modelos oferecem o máximo ganho. Produza gráficos de lucros com facilidade.</li>
                                <li class="linha-ul-interna"><strong>Text Mining em Dados não-estruturados: </strong> melhorar os modelos de churn usando algoritmos de mineração de texto poderosos para incorporar os dados não-estruturados atuais com dados que não utilizáveis do Storage.</li>
                            </ul>   
                        </div>
                    </div>
                </article>
            </section>    
            <div class="linha-recursos">
                <div class="width-default">
                    <p class="title-recursos">Recursos Soluções Churn Analysis</p>
                    <img class="seta-recursos" src="{$URL}commom/img/seta-recursos.png" alt="Churn Analysis">
                </div>
            </div>        
            <div class="row bloco-recursos">
                <div class="width-default">
                    <div class="col-xs-12 col-sm-4 col-md-4 pd-lf-50">
                        <div class="row tamanho-titulo-icon">
                            <img class="pull-left" src="{$URL}commom/img/icon-treinamentos1.png" alt="Treinamentos e Eventos" title="Treinamentos e Eventos">
                            <a href="{$URL}" class="pull-left txt-title-recursos pd-tp-5">Treinamentos <br>e Eventos</a>
                        </div>
                        <div class="row">
                            <a class="txt-recursos txt-title-recursos" href="{$URL}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in metus vitae sapien consectetur</a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 pd-lf-50">
                        <div class="row tamanho-titulo-icon">
                            <img class="pull-left" src="{$URL}commom/img/icon-solucoes1.png" alt="Soluções" title="Soluções">
                            <a href="{$URL}" class="pull-left txt-title-recursos">Soluções Estatística</a>
                        </div>
                        <div class="row">
                            <a class="txt-recursos txt-title-recursos" href="{$URL}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in metus vitae sapien consectetur</a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 pd-lf-50">
                        <div class="row tamanho-titulo-icon">
                            <img class="pull-left" src="{$URL}commom/img/icon-pay-pal.png" alt="Solicite contato" title="Solicite contato">
                            <a href="{$URL}" class="pull-left txt-title-recursos pd-tp-5">Compre em 12x<br>sem juros</a>
                        </div>
                        <div class="row">
                            <a class="txt-recursos txt-title-recursos" href="{$URL}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in metus vitae sapien consectetur</a>
                        </div>
                    </div>
                </div> 
            </div>                    
        {include file="../inc/footer.html"}
    </div>
</body>
</html>