<!DOCTYPE HTML>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow">
	<meta name="description" content="" />
	<link href="{$URL}commom/img/icon-tab.png" rel="icon">
    {include file="../inc/cssUrmAmigavel.html"}
	<link rel="stylesheet" type="text/css" href="{$URL}commom/css/estilo.css">
	<title>BDA</title>
 	<!-- Bootstrap -->
    <link href="{$URL}commom/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container-fluid pd-none">
        {include file="../inc/header.html"}
            <!-- Banner -->
            <article class="banner-interna-faixa cor-linha-bn-solucoes pd-none">
                <img class="pull-right abs-left hidden-xs" src="{$URL}commom/img/bg-solucoes1.jpg" alt="Business Intelligence & Analytics" title="Business Intelligence & Analytics"> 
                <div class="width-default">
                    <h1 class="titulo-faixa-interna pd-titulo-faixa-interna">DELL STATISTICA<br> <span>Dell Ultimate Academic Bundle   </span></h1>
                </div>
                <img class="pull-right abs-right hidden-xs" src="{$URL}commom/img/bg-solucoes2.jpg" alt="Business Intelligence & Analytics" title="Business Intelligence & Analytics">
            </article> 
            <!-- Banner -->
            {include file="../inc/breadcrumb.html"}        
            <section class="conteudo-interna">
                <article class="width-default">
                    <div class="col-xs-12 col-sm-12 col-md-12 pd-none pd-so-mob">
                        <div class="row">
                            <div class="bola-vitrine-maior">
                                <p class="txt-bola-vitrine-titulo">DELL STATISTICA</strong></p>
                                <p class="txt-bola-vitrine"><strong>Módulo Estatística</strong></p>
                                <p class="txt-bola-vitrine">
                                    ANOVA<br>Regressão Linear<br>Regressão Múltipla<br>Regressão Logística<br>Séries Temporais<br>Redes Neurais
                                </p>
                                <p class="txt-bola-vitrine">
                                    <strong>Módulo Estatística Industrial</strong><br>
                                    Controle Estatístico do<br>Processo 6Sigma<br>Planejamento de Experimentos
                                </p>
                                <p class="txt-bola-vitrine">
                                    <strong>Módulo Data Mining e Text Mining</strong><br>
                                    Machine Learning
                                </p>
                            </div>
                            <div class="bola-vitrine-menor">
                                <p class="txt-bola-vitrine"><strong>Plano Especial<br>para Estudantes e<br>Professores</strong></p>
                                <p class="txt-bola-vitrine">Acesso dentro e fora da<br>Universidade<br>das técnicas mais<br>avançadas<br>do mercado</p>
                            </div>
                            <img class="center-block img-dell-academic-cont" src="{$URL}commom/img/img-dell-statistica.jpg" alt="DELL STATISTICA">
                        </div>                        
                        <p class="txt-interna">
Desde 1984, O DELL STATISTICA tem demonstrado um compromisso de fazer a ponte entre tecnologia e educação. O <strong>DELL STATISTICA Ultimate Academic Bundle</strong> fornece o leque mais abrangente de análise de dados, gerenciamento de dados, visualização de dados e procedimentos de mineração de dados.<br><br>

Suas técnicas incluem a mais ampla seleção de <strong>modelagem preditiva, clustering, classificação e técnicas exploratórias</strong> em uma plataforma de software, bem como seleção abrangente de <strong>estatísticas básicas e opções de visualização de dados</strong>. <br><br>

Alunos e professores no Brasil, Chile, Peru, Argentina, Colômbia, Equador, Venezuela e Panamá receberá o DELL STATISTICA com descontos especiais com planos de 12 à 60 meses e pagamentos em até 10 parcelas via PayPal.<br><br>

A BDA Solutions | Big Data & Analytics, juntamente com a Dell Software está empenhada em fornecer soluções e serviços de software para a academia que irá estimular a inovação e ampliar as oportunidades educacionais em todo o Brasil e América Latina. <br><br>

Algumas  Ciências e Áreas (<strong>Biociências, Exatas, Humanas e Tecnologia</strong>) que poderão usufruir da plataforma são:

</p>
<div class="row">
    <p class="txt-interna">
                                Todos os Módulos num único pacote “Ultimate Academic Bundle”:
                            </p>
                            <img src="{$URL}commom/img/DELL-ACADEMIC-CENTER.jpg" alt="Dell Statistica" title="Dell Statistica" align="right">
                            <ul class="bloco-linha-interna ul-com-list no-bg pull-left">
                                <li class="linha-ul-interna"><strong>Engenharia Ambiente</strong></li>
                                <li class="linha-ul-interna"><strong>Engenharia de Produção</strong></li>
                                <li class="linha-ul-interna"><strong>Engenharia de Alimentos</strong></li>
                                <li class="linha-ul-interna"><strong>Engenharia Química</strong></li>
                                <li class="linha-ul-interna"><strong>Administração</strong></li>
                                <li class="linha-ul-interna"><strong>Marketing</strong></li>
                                <li class="linha-ul-interna"><strong>Economia</strong></li>
                                <li class="linha-ul-interna"><strong>Medicina </strong></li>
                                <li class="linha-ul-interna"><strong>Ciência da Computação</strong></li>
                                <li class="linha-ul-interna"><strong>Tecnologia da Informação</strong></li>
                                <li class="linha-ul-interna"><strong>Estatística</strong></li>
                                <li class="linha-ul-interna"><strong>Matemática </strong></li>
                            </ul>
                        <div class="row">
                            <p class="txt-interna">
                                Todos os Módulos num único pacote “Ultimate Academic Bundle”:
                            </p>
                            <ul class="bloco-linha-interna ul-com-list no-bg pull-left">
                                <li class="linha-ul-interna"><strong>Statistica Base</strong></li>
                                <li class="linha-ul-interna"><strong>Statistica Advanced</strong></li>
                                <li class="linha-ul-interna"><strong>Statistica Industrial</strong></li>
                                <li class="linha-ul-interna"><strong>Statistica Data Miner</strong></li>
                                <li class="linha-ul-interna"><strong>Statistica Text Miner</strong></li>
                                <li class="linha-ul-interna"><strong>Statistica Automated Neural Networks</strong></li>
                                <li class="linha-ul-interna"><strong>Statistica Data Visualization</strong></li>
                                <li class="linha-ul-interna"><strong>Statistica Extract, Transform, and Load (ETL) </strong></li>
                                <li class="linha-ul-interna"><strong>Statistica Process Optimization</strong></li>
                                <li class="linha-ul-interna"><strong>Statistica Quality Control (QC) </strong></li>
                                <li class="linha-ul-interna"><strong>Statistica Reporting Tables </strong></li>
                                <li class="linha-ul-interna"><strong>Statistica Sequence, Association and Link Analysis </strong></li>
                                <li class="linha-ul-interna"><strong>Statistica Variance Estimation and Precision</strong></li>
                                <li class="linha-ul-interna"><strong>Statistica Rules Builder</strong></li>
                                <li class="linha-ul-interna"><strong>Statistica Weight of Evidence</strong></li>
                            </ul>
                        </div>
                    </div>
                </article>
            </section>  
            <div class="linha-recursos">
                <div class="width-default">
                    <p class="title-recursos">Recursos Soluções Dell Statistica</p>
                    <img class="seta-recursos" src="{$URL}commom/img/seta-recursos.png" alt="Recursos soluções Dell">
                </div>
            </div>        
            <div class="row bloco-recursos">
                <div class="width-default">
                    <div class="col-xs-12 col-sm-4 col-md-4 pd-lf-50">
                        <div class="row tamanho-titulo-icon">
                            <img class="pull-left" src="{$URL}commom/img/icon-treinamentos1.png" alt="Treinamentos e Eventos" title="Treinamentos e Eventos">
                            <a href="{$URL}" class="pull-left txt-title-recursos pd-tp-5">Treinamentos <br>e Eventos</a>
                        </div>
                        <div class="row">
                            <a class="txt-recursos txt-title-recursos" href="{$URL}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in metus vitae sapien consectetur</a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 pd-lf-50">
                        <div class="row tamanho-titulo-icon">
                            <img class="pull-left" src="{$URL}commom/img/icon-solucoes1.png" alt="Soluções" title="Soluções">
                            <a href="{$URL}" class="pull-left txt-title-recursos">Soluções Estatística</a>
                        </div>
                        <div class="row">
                            <a class="txt-recursos txt-title-recursos" href="{$URL}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in metus vitae sapien consectetur</a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 pd-lf-50">
                        <div class="row tamanho-titulo-icon">
                            <img class="pull-left" src="{$URL}commom/img/icon-pay-pal.png" alt="Solicite contato" title="Solicite contato">
                            <a href="{$URL}" class="pull-left txt-title-recursos pd-tp-5">Compre em 12x<br>sem juros</a>
                        </div>
                        <div class="row">
                            <a class="txt-recursos txt-title-recursos" href="{$URL}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in metus vitae sapien consectetur</a>
                        </div>
                    </div>
                </div>
            </div>                      
        {include file="../inc/footer.html"}
    </div>
</body>
</html>