<!DOCTYPE HTML>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow">
	<meta name="description" content="" />
	<link href="{$URL}commom/img/icon-tab.png" rel="icon">
    {include file="../inc/cssUrmAmigavel.html"}
	<link rel="stylesheet" type="text/css" href="{$URL}commom/css/estilo.css">
	<title>BDA</title>
 	<!-- Bootstrap -->
    <link href="{$URL}commom/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container-fluid pd-none">
        {include file="../inc/header.html"}
            <!-- Banner -->
            <article class="banner-interna-faixa cor-linha-bn-solucoes pd-none">
                <img class="pull-right abs-left hidden-xs" src="{$URL}commom/img/bg-solucoes1.jpg" alt="Gestão de Banco de Dados" title="Gestão de Banco de Dados"> 
                <div class="width-default">
                    <h1 class="titulo-faixa-interna">Gestão de Banco de Dados</h1>
                </div>
                <img class="pull-right abs-right hidden-xs" src="{$URL}commom/img/bg-solucoes2.jpg" alt="Gestão de Banco de Dados" title="Gestão de Banco de Dados">
            </article> 
            <!-- Banner -->
            {include file="../inc/breadcrumb.html"}        
            <section class="conteudo-interna">
                <article class="width-default">
                    <div class="col-xs-12 col-sm-12 col-md-12 pd-none pd-so-mob">
                        <div class="col-xs-12 col-sm-5 col-md-5">
                            <img src="{$URL}commom/img/gestao-de-banco-de-dados.jpg" alt="Gestão de Banco de Dados" title="Gestão de Banco de Dados" class="lf-so-desk">
                        </div>
                        <div class="col-xs-12 col-sm-7 col-md-7 pd-none">
                            <p class="txt-interna">
                                Empresas cotidianas criam altos volumes de dados (faturas, email, informações financeiras, etc.) gerando um custo no negócio como armazenamento, recuperação e compartilhamento de dados, que na maioria das vezes é invisível para os usuários. <br><br>
                                
                                Com os Serviços de Gestão de Banco de Dados, permitimos as empresas assegurar o suporte e continuidade das aplicações independentemente do volume ou complexidade do seu negócio. a eficiência e segurança do negócio<br><br>
                                
                                A BDA Solutions oferece serviços que garante a Gestão do Banco de Dados (Oracle, SQL, MySql), integrando ferramentas de mercado que agilizam as rotinas diárias, instalações e configurações, backup´s e recuperação, atualização dos banco, migrações e indisponibilidade do ambiente, podemos nos tornar os seus BDAs (Full Service DBA Remoto) ou Part Time.<br><br>
                            </p><br>
                        </div>
                        <img class="center-block" src="{$URL}commom/img/gestao-bd.jpg" alt="Gestão de Banco de Dados" title="Gestão de Banco de Dados">
                        <p class="txt-interna">
                            <br><br>Nossos sistemas de gestão funcionam em regime 24x7 com equipe capacitada e dimensionada para prestar este serviço de Suporte, Monitoramento, Segurança Backup e Restore, Atualização de versões e patchs, Migração, além disso oferecemos também serviços de consultoria especializada em Projetos, Implementações e Administração em Banco de Dados.
                        </p>
                        <div class="row">
                            <div class="col-xs-12 col-sm-5 col-md-5 pd-none">
                                <div class="bloco-ul-gestao-bd">
                                    <h2 class="titulo-antes-ul font-cat">Consultoria</h2>
                                    <ul class="bloco-linha-interna no-bg ul-com-list">
                                        <li class="linha-ul-interna">Assessments  para arquitetura de banco de dados </li>
                                        <li class="linha-ul-interna">Assessments para Upgrades e Migração</li>
                                    </ul>
                                    <h2 class="titulo-antes-ul font-cat">Projetos</h2>
                                    <ul class="bloco-linha-interna no-bg ul-com-list">
                                        <li class="linha-ul-interna">Arquitetura Física e lógica</li>
                                        <li class="linha-ul-interna">Alta disponibilidade do ambiente</li>
                                        <li class="linha-ul-interna">Backup & Recovery</li>
                                    </ul>
                                    <h2 class="titulo-antes-ul font-cat">Implementação e Desenvolvimento</h2>
                                    <ul class="bloco-linha-interna no-bg ul-com-list">
                                        <li class="linha-ul-interna">Implementação, configuração e migração de banco de dados relacional ou NoSQL BD</li>
                                        <li class="linha-ul-interna">Implementação In-memory</li>
                                        <li class="linha-ul-interna">Implementação de Patch de Segurança e outros</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="hidden-xs col-sm-2 col-md-2 pd-none linha-dois-ul"></div>
                            <div class="col-xs-12 col-sm-5 col-md-5 pd-none">
                                <div class="bloco-ul-gestao-bd bloco-ul-gestao-bd-right">
                                    <h2 class="titulo-antes-ul font-cat">Serviço Técnico de Suporte</h2>
                                    <ul class="bloco-linha-interna no-bg ul-com-list">
                                        <li class="linha-ul-interna">DB perfomance e monitorização de crescimento</li>
                                        <li class="linha-ul-interna">Otimização de desempenho</li>
                                        <li class="linha-ul-interna">Archive & Manutenção</li>
                                        <li class="linha-ul-interna">Backup & Restauração</li>
                                        <li class="linha-ul-interna">Gerenciamento de patches</li>
                                        <li class="linha-ul-interna">Atualizações de versão de banco de dados</li>
                                        <li class="linha-ul-interna">Migração dos bancos de dados</li>
                                    </ul>
                                    <h2 class="titulo-antes-ul font-cat">Administração</h2>
                                    <ul class="bloco-linha-interna no-bg ul-com-list">
                                        <li class="linha-ul-interna">Administração da Segurança do BD</li>
                                        <li class="linha-ul-interna">Administração geral do BD</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row pd-tp-30">
                            <img class="pull-left" src="{$URL}commom/img/solucao-nuvem.jpg" alt="A BDA oferece Soluções na Nuvem... Saiba mais...." title="A BDA oferece Soluções na Nuvem... Saiba mais....">
                            <p class="destaque-pag-interna">A BDA oferece Soluções na Nuvem... Saiba mais....</p>
                        </div>
                    </div>
                </article>
            </section>  
            <div class="linha-recursos">
                <div class="width-default">
                    <p class="title-recursos">Recursos Soluções Gestão de Banco de Dados</p>
                    <img class="seta-recursos" src="{$URL}commom/img/seta-recursos.png" alt="Gestão de Banco de Dados">
                </div>
            </div>        
            <div class="row bloco-recursos">
                <div class="width-default">
                    <div class="col-xs-12 col-sm-4 col-md-4 pd-lf-50">
                        <div class="row tamanho-titulo-icon">
                            <img class="pull-left" src="{$URL}commom/img/icon-treinamentos1.png" alt="Treinamentos e Eventos" title="Treinamentos e Eventos">
                            <a href="{$URL}" class="pull-left txt-title-recursos pd-tp-5">Treinamentos <br>e Eventos</a>
                        </div>
                        <div class="row">
                            <a class="txt-recursos txt-title-recursos" href="{$URL}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in metus vitae sapien consectetur</a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 pd-lf-50">
                        <div class="row tamanho-titulo-icon">
                            <img class="pull-left" src="{$URL}commom/img/icon-solucoes1.png" alt="Soluções" title="Soluções">
                            <a href="{$URL}" class="pull-left txt-title-recursos">Soluções Estatística</a>
                        </div>
                        <div class="row">
                            <a class="txt-recursos txt-title-recursos" href="{$URL}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in metus vitae sapien consectetur</a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 pd-lf-50">
                        <div class="row tamanho-titulo-icon">
                            <img class="pull-left" src="{$URL}commom/img/icon-pay-pal.png" alt="Solicite contato" title="Solicite contato">
                            <a href="{$URL}" class="pull-left txt-title-recursos pd-tp-5">Compre em 12x<br>sem juros</a>
                        </div>
                        <div class="row">
                            <a class="txt-recursos txt-title-recursos" href="{$URL}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in metus vitae sapien consectetur</a>
                        </div>
                    </div>
                </div> 
            </div>                      
        {include file="../inc/footer.html"}
    </div>
</body>
</html>