<!DOCTYPE HTML>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <meta name="description" content="" />
    <link href="{$URL}commom/img/icon-tab.png" rel="icon">
    {include file="../inc/cssUrmAmigavel.html"}
    <link rel="stylesheet" type="text/css" href="{$URL}commom/css/estilo.css">
    <title>BDA</title>
    <!-- Bootstrap -->
    <link href="{$URL}commom/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container-fluid pd-none">
        {include file="../inc/header.html"}
            <!-- Banner -->
            <article class="banner-interna-faixa cor-linha-bn-solucoes pd-none">
                <img class="pull-right abs-left hidden-xs" src="{$URL}commom/img/bg-solucoes1.jpg" alt="Government" title="Government"> 
                <div class="width-default">
                    <h1 class="titulo-faixa-interna pd-titulo-faixa-interna">Government <br><span>Utilize as informações integradas gerando novas ações para o Munícipe</span></h1>
                </div>
                <img class="pull-right abs-right hidden-xs" src="{$URL}commom/img/bg-solucoes2.jpg" alt="Government" title="Government">
            </article> 
            <!-- Banner -->
            {include file="../inc/breadcrumb.html"}        
            <section class="conteudo-interna">
                <article class="width-default mg-bt-40">
                    <div class="col-xs-12 col-sm-12 col-md-12 pd-none pd-so-mob">
                        <div class="row">
                            <!-- <div class="col-xs-12 col-sm-4 col-md-4 pd-none">
                                <img src="{$URL}commom/img/big-data-e-iot.jpg" alt="Government" title="Government" class="lf-so-desk mg-right-bt-25">
                            </div>
                            <div class="col-xs-12 col-sm-8 col-md-8 pd-none"> -->
                                <img src="{$URL}commom/img/government.jpg" alt="Government" title="Government" class="lf-so-desk mg-right-bt-25">
                                <p class="txt-interna">
                                    O maior valor público são as ideias quando os governos, por meio de suas iniciativas de dados abertos e de transparência, produzem informação que permite uma participação importante na prestação de serviços. A proliferação de conjuntos de dados abertos em sites de qualquer esfera global incentiva o setor privado, sem fins lucrativos o uso institucional de informações, abrindo novos diálogos para discussões sobre normatizações e preocupações com a privacidade destes dados.<br><br>

                                    Assim essa grande quantidade de dados só irá impulsionar a eficiência quando organizados e analisados ​​de uma forma que suporta a tomada de decisões. Os governos estão começando a incorporar significativamente análise de dados em suas operações como: algoritmos de previsão permitem que os departamentos de polícia se antecipem preventivamente a futuros incidentes, como “novos Hotspot de crime” e preventivamente destacam agentes ou departamentos para determinar quais estruturas estão mais adequadas para realizar a ação.<br><br>

                                    Outras aplicações como a análise dos dados acumulados no cartão do metrô/ônibus podem prevenir os efeitos de interrupções de trânsito e dar ampla visão sobre as operações do sistema de trânsito. Integração de dados de diferentes agências de serviços humanitários podem aumentar muito a eficácia dos assistentes sociais e consequentemente ajudar jovens em risco. <br><br>

                                    Novos projetos de Soluções de Dados (Smart City) ajudam o governo a catalisar o uso local de dados, análise e tecnologia de engajamento cívico. <br><br>

                                    Ou seja, através de algoritmos modelos, consolidação de informações e novos Insights  ajudamos a identificar as melhores práticas conectando todos os meios, mídias, recursos necessários e disponíveis para gerar uma análise mais eficaz, dinâmica e decisiva para a organização.
                                    <br><br>
                                </p>
                            <!-- </div> -->
                        </div>
                       <!--  <div class="row">
                            
                        </div> -->
                    </div>
                </article>
            </section>   
            <div class="linha-recursos">
                <div class="width-default">
                    <p class="title-recursos">Recursos Soluções Government</p>
                    <img class="seta-recursos" src="{$URL}commom/img/seta-recursos.png" alt="Government">
                </div>
            </div>        
            <div class="row bloco-recursos">
                <div class="width-default">
                    <div class="col-xs-12 col-sm-4 col-md-4 pd-lf-50">
                        <div class="row tamanho-titulo-icon">
                            <img class="pull-left" src="{$URL}commom/img/icon-treinamentos1.png" alt="Treinamentos e Eventos" title="Treinamentos e Eventos">
                            <a href="{$URL}" class="pull-left txt-title-recursos pd-tp-5">Treinamentos <br>e Eventos</a>
                        </div>
                        <div class="row">
                            <a class="txt-recursos txt-title-recursos" href="{$URL}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in metus vitae sapien consectetur</a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 pd-lf-50">
                        <div class="row tamanho-titulo-icon">
                            <img class="pull-left" src="{$URL}commom/img/icon-solucoes1.png" alt="Soluções" title="Soluções">
                            <a href="{$URL}" class="pull-left txt-title-recursos">Soluções Estatística</a>
                        </div>
                        <div class="row">
                            <a class="txt-recursos txt-title-recursos" href="{$URL}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in metus vitae sapien consectetur</a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 pd-lf-50">
                        <div class="row tamanho-titulo-icon">
                            <img class="pull-left" src="{$URL}commom/img/icon-pay-pal.png" alt="Solicite contato" title="Solicite contato">
                            <a href="{$URL}" class="pull-left txt-title-recursos pd-tp-5">Compre em 12x<br>sem juros</a>
                        </div>
                        <div class="row">
                            <a class="txt-recursos txt-title-recursos" href="{$URL}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in metus vitae sapien consectetur</a>
                        </div>
                    </div>
                </div> 
            </div>                       
        {include file="../inc/footer.html"}
    </div>
</body>
</html>