<!DOCTYPE HTML>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow">
	<meta name="description" content="" />
	<link href="{$URL}commom/img/icon-tab.png" rel="icon">
    {include file="../inc/cssUrmAmigavel.html"}
	<link rel="stylesheet" type="text/css" href="{$URL}commom/css/estilo.css">
	<title>BDA</title>
 	<!-- Bootstrap -->
    <link href="{$URL}commom/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container-fluid pd-none">
        {include file="../inc/header.html"}
            <section class="conteudo-interna">
                <article class="banner-interna-faixa cor-linha-bn-servicos pd-none mg-top--5">
                    <div class="width-default">
                        <h1 class="titulo-faixa-interna">Master Data Management<br> <span>Planejamento para um controle eficaz e adaptável de seus dados</span></h1>
                    </div>
                </article> 
                {include file="../inc/breadcrumb.html"}  
                <article class="width-default">
                    <p class="txt-interna">
                        Os dados são bem mais valiosos de seus organizações. Quando misturados e combinados da maneira correta, pode revelar novas oportunidades, ameaças invisíveis, e áreas para melhoria dos negócios.
                        <br><br>
                        Enquanto montanhas de dados são coletados para capturar informações valiosas, a informação é muitas vezes proliferados em todas as cadeias de negócio. Vivendo em múltiplos e muitas vezes sobrepondo locais - a partir de silos de aplicativos para planilhas em computadores pessoais - o conhecimento é difícil de alcançar, muito menos comum e aplicado de uma forma eficaz, significativo.
                        <br><br>
                        A BDA Solutions possui serviços para ajudar a sua organização a vencer desafios eliminando a redundância de informações, gerenciando os dados mestres (MDM) oferecendo aos processos de governança necessários para construir e efetivamente manter uma fonte centralizada com informações de alta qualidade para o seu negócio.
                        <br><br>
                        Com o MDM é possível realizar o cross-selling, reduzir churn, integrar informações importantes no momento de fusão ou aquisição de empresas.
                        <br><br>
                    </p>
                    <h2 class="txt-interna"><strong>MDM Framework</strong></h2>
                    <img src="{$URL}commom/img/MDM-Framework.jpg" alt="MDM Framework" title="MDM Framework" class="center-block">
                    <br><br>
                    <p class="txt-interna">
                        A BDA Solutions para assegurar a melhor conformidade e padronização dos seus dados, utiliza um Framework garantem que os dados de chave (mestre) sejam confiáveis, gerenciados, conceito unificado e disponível em qualquer lugar para acesso.<br><br>
                        <strong>Benefícios:</strong>
                    </p>
                    <ul class="bloco-linha-interna no-bg">
                        <li class="linha-ul-interna">Melhorar a eficiência: Melhore visibilidade e controle sobre as atividades de negócios, gerenciamento de relacionamentos sofisticados em produtos, clientes, fornecedores e locais. </li>
                        <li class="linha-ul-interna">Otimizar resultados: Garantir informações precisas e oportunas oferece suporte a decisões e ações feitas pelas aplicações, processos e pessoas que executar o seu negócio.</li>
                        <li class="linha-ul-interna">Identificar e agir em Insights mais rápido: a velocidade e ação rápida permite os usuários de negócios para acessar diretamente, gerenciar e interagir visualmente com repositórios de dados mestre</li>
                        <li class="linha-ul-interna">Acelerar o Time-to-Market: Introduza novos produtos e serviços mais rapidamente com uma rica fonte de dados de produto, cliente e fornecedor.</li>
                        <li class="linha-ul-interna">Elevar a satisfação do cliente: Acelerar a lealdade e aumentar as vendas, personalizando interações, oferecendo uma experiência consistente em todos os canais, e adequando produtos e serviços aos desejos e necessidades específicas dos clientes.</li>
                    </ul>
                    <img src="{$URL}commom/img/Master-Data-Management.jpg" alt="Master Data Management" title="Master Data Management" class="center-block">
                    <br><br>
                </article> 
            </section>
        {include file="../inc/footer.html"}
    </div>
</body>
</html>