<!DOCTYPE HTML>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow">
	<meta name="description" content="" />
	<link href="{$URL}commom/img/icon-tab.png" rel="icon">
    {include file="../inc/cssUrmAmigavel.html"}
	<link rel="stylesheet" type="text/css" href="{$URL}commom/css/estilo.css">
	<title>BDA</title>
 	<!-- Bootstrap -->
    <link href="{$URL}commom/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container-fluid pd-none">
        {include file="../inc/header.html"}
            <section class="conteudo-interna">
                <article class="banner-interna-faixa cor-linha-bn-servicos pd-none ">
                    <img class="pull-right abs-left hidden-xs" src="{$URL}commom/img/bg-servicos1.jpg" alt="Outsourcing Profissionais de TI" title="Outsourcing Profissionais de TI"> 
                    <div class="width-default">
                        <h1 class="titulo-faixa-interna pd-titulo-faixa-interna">Outsourcing Profissionais de TI <br><span>Seu negócio mais robusto e flexível com as nossas soluções de outsourcing de tecnologia</span></h1>
                    </div>
                    <img class="pull-right abs-right hidden-xs" src="{$URL}commom/img/bg-servicos2.jpg" alt="Outsourcing Profissionais de TI" title="Outsourcing Profissionais de TI">
                </article> 
                {include file="../inc/breadcrumb.html"}  
                <article class="width-default">
                    <img src="{$URL}commom/img/outsourcing-profissionais-de-ti.jpg" alt="Outsourcing Profissionais de TI" title="Outsourcing Profissionais de TI" class="lf-so-desk mg-right-bt-25">
                    <p class="txt-interna">
                        A BDA Solutions oferece extrema colaboração e participação com seus clientes, assegurando integridade, confidencialidade na obtenção de melhores resultados.
                        <br><br>
                        Com competências e técnica comprovadas nosso Serviços de Profissionais de Tecnologia faz a terceirização de serviços com qualidade e preços acessíveis, apoiando em seu crescimento de negócios e sugerindo sempre inovações para melhoras os resultados da sua empresa.
                        <br><br>
                        Citamos alguns benefícios como:
                    </p>
                    <div class="row">
                        <ul class="bloco-linha-interna no-bg ul-com-list pull-left">
                            <li class="linha-ul-interna">Redução de custos direto e indiretos</li>
                            <li class="linha-ul-interna">Melhoria da qualidade no serviço</li>
                            <li class="linha-ul-interna">Competências operacionais e gerenciais</li>
                            <li class="linha-ul-interna">Gestão de riscos</li>
                            <li class="linha-ul-interna">Escalabilidade</li>
                        </ul>
                    </div>
                    <div class="row">
                        <p class="txt-interna">
                            Com o nosso serviço de Terceirização de tecnologia da informação apoiamos a sua empresa a se concentrar em seu core business.
                        </p>
                    </div>
                    <br><br>
                </article> 
            </section>
        {include file="../inc/footer.html"}
    </div>
</body>
</html>