<!DOCTYPE HTML>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <meta name="description" content="" />
    <link href="{$URL}commom/img/icon-tab.png" rel="icon">
    {include file="../inc/cssUrmAmigavel.html"}
    <link rel="stylesheet" type="text/css" href="{$URL}commom/css/estilo.css">
    <title>Expressão Brindes</title>
    <!-- Bootstrap -->
    <link href="{$URL}commom/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- vitrine -->
    <link rel="stylesheet" type="text/css" href="{$URL}commom/css/vitrine/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="{$URL}commom/css/vitrine/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="{$URL}commom/css/vitrine/owl.transitions.css">
    <!-- vitrine -->
  </head>
  <body>
    <div class="container-fluid pd-none">
        {include file="../inc/header.html"}
        {include file="../inc/breadcrumb.html"}
            <section class="conteudo conteudo-top">
                <article class="bloco-conteudo-interna">
                    <div class="row">
                        <div class="linha-titulo-pag"></div>
                        <div class="bloco-titulo-pag">
                            <p class="titulo-interna">resultado busca</p>
                        </div>
                    </div>
                    <div class="conteudo-top ">
                        <div class="col-xs-12 col-sm-3 col-md-3 pd-none">
                            {include file="../inc/menu-lateral.html"}
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9">
                            {if $dados}
                                <div class="row mtlsr-images-for-lightbox produtos-pag">
                                    <ul>
                                        {section name=i loop=$dados}
                                            <li>
                                                <div class="destaque-home">
                                                    <a href="{$URL}produto/{$dados[i].urlAmigavel}">
                                                        <div class="img-destaque">
                                                            <img src="{$URL}{$dados[i].caminhoImagem}" alt="{$dados[i].titulo}" title="{$dados[i].titulo}">
                                                        </div>
                                                    </a>
                                                    <div class="bloco-cod-lupa">
                                                        <h3 class="titulo-destaque" style="padding: 5px 3px;"><a href="{$URL}produto/{$dados[i].urlAmigavel}">{$dados[i].titulo}</a></h3>
                                                        <!-- <a class="lupa-destaque" href="{$URL}{$dados[i].caminhoImagem}"><img src="{$URL}commom/img/lupa-destaque.png" alt="ver produto" title="ver produto"></a> -->
                                                    </div>
                                                </div>
                                            </li>
                                        {/section}
                                    </ul>
                                </div>
                                <div class="mtlsr-lightbox">
                                    <a href="#" class="close">&#9421;</a>
                                    {if $totalDeRegistros > 1}
                                        <a href="#" class="prev">&lsaquo;</a>
                                        <a href="#" class="next">&rsaquo;</a>
                                    {/if}
                                </div>

                                <!-- {if $totalPaginas > 1}
                                    <div class="bloco-paginacao">
                                        <form class="pull-left" method="post" action="{$URL}resultado-busca">
                                            <input type="hidden" class="urlAction" name="urlAction" value="{$URL}resultado-busca">
                                            <input type="hidden" name="search" value="{$postBusca}">   
                                            <input type="hidden" name="p" value="{$Numpaginas[0]}">
                                            <input class="seta-pagin-laterais pull-left" type="submit" value=" << ">
                                        </form>
                                        {section start=1 name=j loop=$Numpaginas}                                    
                                            <form class="pull-left" method="post" action="{$URL}resultado-busca">
                                                <input type="hidden" class="urlAction" name="urlAction" value="{$URL}resultado-busca">
                                                <input type="hidden" name="search" value="{$postBusca}">   
                                                <input type="hidden" name="p" value="{$Numpaginas[j]}">
                                                <input class="seta-pagin pull-left" type="submit" value=" {$Numpaginas[j]} ">
                                            </form>
                                        {/section}
                                        <form class="pull-left" method="post" action="{$URL}resultado-busca">
                                            <input type="hidden" class="urlAction" name="urlAction" value="{$URL}resultado-busca">
                                            <input type="hidden" name="search" value="{$postBusca}">   
                                            <input type="hidden" name="p" value="{$ultimaPaginacao}">
                                            <input class="seta-pagin-laterais pull-left" type="submit" value=" >> ">
                                        </form>
                                    </div>
                                {/if} -->
                            {else}
                                <h1 class="titulo-produto" style="text-align: center">Não existe resultado para essa busca</h1>
                            {/if}
                        </div>
                    </div>
                </article>
            </section>
        {include file="../inc/contato.html"}
        {include file="../inc/footer.html"}
    </div>
</body>
</html>