<!DOCTYPE HTML>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <meta name="description" content="" />
    <link href="{$URL}commom/img/icon-tab.png" rel="icon">
    {include file="../inc/cssUrmAmigavel.html"}
    <link rel="stylesheet" type="text/css" href="{$URL}commom/css/estilo.css">
    <title>BDA</title>
    <!-- Bootstrap -->
    <link href="{$URL}commom/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- vitrine -->
    <link rel="stylesheet" type="text/css" href="{$URL}commom/css/vitrine/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="{$URL}commom/css/vitrine/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="{$URL}commom/css/vitrine/owl.transitions.css">
    <!-- vitrine -->
  </head>
  <body>
    <div class="container-fluid pd-none">
        {include file="../inc/header.html"}
            <!-- Banner -->
            <article class="xidden-xs col-sm-12 col-md-12 mg-top--5">
                <div id="demo" class="vitrine-index">
                    <div class="row">
                        <div class="span12">
                            <div id="owl-demo" class="owl-carousel">
                                <div class="item">
                                    <div class="linha-top-banner-int cor-linha-bn-servicos"></div>
                                    <div class="bloco-bg-banner-interna"></div>
                                    <div class="bloco-desc-banner-interna">
                                        <h1 class="titulo-banner-interna">serviços</h1>
                                        <h2 class="subtitulo-banner-interna">Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit proin.</h2>
                                    </div>
                                    <img src="{$URL}commom/img/banner-servicos.jpg" alt="serviços" title="serviços">
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </article> 
            <!-- Banner -->   
            <article class="visible-xs-block banner-interna-faixa cor-linha-bn-servicos pd-none">
                <div class="width-default">
                    <h1 class="titulo-faixa-interna">serviços</h1>
                </div>
            </article>          
            {include file="../inc/breadcrumb.html"}      
            <section class="conteudo-interna">
                <article class="width-default pd-tp-30">
                    <p class="txt-interna pd-all-10 mg-bt-40">
                        Nosso serviços são altamente qualificados oferecendo uma grande variedade de soluções dentro dos nossos segmentos de atuação: Serviços Financeiros, Marketing, Saúde & Lifesciences, Energia, Bens de Consumo, Governo, Mineração Indústria e Varejo. Intelligence & Analytics.
                        <br><br>
                        Nossas estruturas em serviços comprovados permitem investimentos e entrega de projetos para  gestão da informação, através de  ferramentas de estratégia, planejamento e gestão garantindo assim que você obtenha mais de sua informação. Além disso, a BDA Solutions possui com profissionais de múltiplas competências: consultores de processos, consultores estatísticos, especialistas em soluções de infra-estrutura e em implementação, arquitetos de soluções, consultores e arquitetos de soluções de Business Intelligence.                        
                    </p>
                    <div class="row pd-tp-30">
                        <div class="bloco-destaques-banner pd-bt-30">
                            <div id="owl-demo-interna">
                                <div class="item col-xs-12 col-sm-12 col-md-12 bloco-dest-home pd-none">
                                    <div class="bola-cinza bola-dest"></div>
                                    <div class="row">
                                        <h2 class="destaques-home align-center"><a href="{$URL}servicos/master-data-management"> Master Data Management </a></h2>
                                        <h3 class="txt-destaques-home align-center"><a href="{$URL}servicos/master-data-management">Saiba mais ></a></h3>
                                    </div>
                                </div>
                                <div class="item col-xs-12 col-sm-12 col-md-12 bloco-dest-home pd-none">
                                    <div class="bola-rosa bola-dest"></div>
                                    <div class="row">
                                        <h2 class="destaques-home align-center"><a href="{$URL}servicos/data-intelligence"> Data Intelligence </a></h2>
                                        <h3 class="txt-destaques-home align-center"><a href="{$URL}servicos/data-intelligence">Saiba mais ></a></h3>
                                    </div>
                                </div>
                                <div class="item col-xs-12 col-sm-12 col-md-12 bloco-dest-home pd-none">
                                    <div class="bola-cinza bola-dest"></div>
                                    <div class="row">
                                        <h2 class="destaques-home align-center"><a href="{$URL}servicos/implementacao-e-suporte"> Implementação & Suporte </a></h2>
                                        <h3 class="txt-destaques-home align-center"><a href="{$URL}servicos/implementacao-e-suporte">Saiba mais ></a></h3>
                                    </div>
                                </div>
                                <div class="item col-xs-12 col-sm-12 col-md-12 bloco-dest-home pd-none">
                                    <div class="bola-rosa bola-dest"></div>
                                    <div class="row">
                                        <h2 class="destaques-home align-center"><a href="{$URL}servicos/consultoria-especializada"> Consultoria Especializada </a></h2>
                                        <h3 class="txt-destaques-home align-center"><a href="{$URL}servicos/consultoria-especializada">Saiba mais ></a></h3>
                                    </div>
                                </div>
                                <div class="item col-xs-12 col-sm-12 col-md-12 bloco-dest-home pd-none">
                                    <div class="bola-cinza bola-dest"></div>
                                    <div class="row">
                                        <h2 class="destaques-home align-center"><a href="{$URL}servicos/outsourcing-profissionais-de-ti"> Outsourcing Profissionais de TI </a></h2>
                                        <h3 class="txt-destaques-home align-center"><a href="{$URL}servicos/outsourcing-profissionais-de-ti">Saiba mais ></a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </section>                
        {include file="../inc/footer.html"}
    </div>
</body>
</html>