<!DOCTYPE HTML>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow">
	<meta name="description" content="" />
	<link href="{$URL}commom/img/icon-tab.png" rel="icon">
    {include file="../inc/cssUrmAmigavel.html"}
	<link rel="stylesheet" type="text/css" href="{$URL}commom/css/estilo.css">
	<title>BDA</title>
 	<!-- Bootstrap -->
    <link href="{$URL}commom/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- vitrine -->
    <link rel="stylesheet" type="text/css" href="{$URL}commom/css/vitrine/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="{$URL}commom/css/vitrine/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="{$URL}commom/css/vitrine/owl.transitions.css">
    <!-- vitrine -->
  </head>
  <body>
    <div class="container-fluid pd-none">
        {include file="../inc/header.html"}
            <!-- Banner -->
            <article class="xidden-xs col-sm-12 col-md-12 mg-top--5">
                <div id="demo" class="vitrine-index">
                    <div class="row">
                        <div class="span12">
                            <div id="owl-demo" class="owl-carousel">
                                <div class="item">
                                    <div class="linha-top-banner-int cor-linha-bn-solucoes"></div>
                                    <div class="bloco-bg-banner-interna"></div>
                                    <div class="bloco-desc-banner-interna">
                                        <h1 class="titulo-banner-interna">Suas Visualizações<br> Apoiam Em Suas Decisões?</h1>
                                        <h2 class="subtitulo-banner-interna">Veja seus dados com Spotfire agora.</h2>
                                    </div>
                                    <img src="{$URL}commom/img/banner-solucoes.jpg" alt="soluções" title="soluções">
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </article> 
            <!-- Banner -->  
            <article class="visible-xs-block banner-interna-faixa cor-linha-bn-solucoes pd-none">
                <div class="width-default">
                    <h1 class="titulo-faixa-interna">Suas Visualizações Apoiam Em Suas Decisões</h1>
                </div>
            </article>           
            {include file="../inc/breadcrumb.html"}    
            <section class="conteudo-interna">
                <article class="width-default pd-tp-30">
                    <p class="txt-interna pd-all-10">
                        Descubra rapidamente insights para melhor tomada de decisão, com conclusões inteligentes e rápidas. <br>
                        Spotfire revela rapidamente as ameaças invisíveis e novas oportunidades, criando valor económico significativo.<br><br>

                        <img class="center-block" src="{$URL}commom/img/sportfire-desktop.png" alt="Suas Visualizações Apoiam Em Suas Decisões" title="Suas Visualizações Apoiam Em Suas Decisões">
                        <br>
                        <strong>5 maneiras de acelerar a análise dos dados</strong>
                    </p>
                    <ul class="bloco-linha-interna no-bg">
                        <li class="linha-ul-interna"><strong>1. Limpe e Manipule dados</strong> Muitos conjuntos de dados exigem um pouco de limpeza, mas até o início das análises, nem sempre é óbvio que são necessárias as correções. É por isso que a manipulação de dados em tempo real é tão importante como prepará-la antecipadamente. Confira como o Spotfire Visual Analysis rapidamente revela imperfeições e permite que você limpe esses dados indisciplinados antes ou em qualquer momento durante o processo de análise.</li>
                        <li class="linha-ul-interna"><strong>2. Visualizações em 1 clique </strong> Muitas vezes, os profissionais de negócios tem uma visualização de dados desejada, mas ainda não sabem como criar essa visualização. Por que você não pode ir imediatamente para os gráficos e ajustar as  configurações posteriormente? Oferecendo ao usuário  opções de visualização totalmente prontas  que você pode escolher, o “Spotfire Recommendations” faz exatamente isso, levando-o direto para as melhores tomada de decisões.</li>
                        <li class="linha-ul-interna"><strong>3. Exploração de forma livre para mais rápidos insights, mais profundas </strong> Na análise de dados uma pergunta leva a outra. Além do mais qualquer fator, pode mudar todas as perguntas subsequentes e levá-lo ao longo de um caminho diferente para descobertas importantes e inesperadas. A exploração de dados deve ser intuitivo para que a sua linha de pensamento seja contínua, e você pode olhar para os dados de vários ângulos para entender profundamente suas descobertas. Assim cada dez mais, o Spotfire apoia a sua curiosidade e fluxo de trabalho.</li>
                        <li class="linha-ul-interna"><strong>4. Mapa de Visualizações Diferenciadas </strong> Dados de localização podem oferecer uma riqueza de conhecimento que é fácil de entender e exibir. Ferramentas mais analíticas oferecem visualizações de mapa limitado com uma vista única camada que pode abordar uma pequena gama de perguntas. O Spotfire oferece várias camadas de mapas para ajudá-lo uma compreensão muito mais profunda dos dados Geo Referenciados, para ver seus clientes, produtos ou serviços de uma nova maneira.</li>
                        <li class="linha-ul-interna"><strong>5. Turbine seus scripts R e implante-os em aplicações visuais </strong> R é a linguagem estatística mais popular do mundo, mas seu motor de código aberto tem restrições e grandes desafios. Usando R, estatísticos podem flexivelmente protótipo seus modelos, desenho de milhares de pacotes computacionais. Mas no tempo de produção, scripts de R muito básicos são difíceis para utilização em aplicativos de negócios. Além disso, desde que o desempenho do motor R degrada-se rapidamente como o volume de dados cresce, reescrever é um grande desperdício. Veja como o TIBCO Enterprise Runtime para R, usado de forma independente ou embutido no Spotfire, fornece um aumento de velocidade 10x de scripts existentes de R, e como esses scripts agora podem ser empacotados para apoiar diretamente a produção de alto desempenho ou visualização exploratória em aplicativos, implantados no local ou na nuvem.</li>
                    </ul>
                    <p class="txt-interna">
                        <strong>Soluções de Acordo com a sua necessidade</strong>
                    </p>
                    <div class="row pd-tp-30">
                        <div class="bloco-destaques-banner pd-bt-30">
                            <div id="owl-demo-tibco">
                                <div class="item col-xs-12 col-sm-12 col-md-12 bloco-dest-home pd-none">
                                    <div class="bola-cinza bola-dest"></div>
                                    <div class="row">
                                        <h3 class="destaques-home align-center"><a href="{$URL}software/tibco/spotfire-desktop"> Spotfire® Desktop </a></h3>
                                        <h4 class="txt-destaques-home align-center"><a href="{$URL}software/tibco/spotfire-desktop">Análise para usuários Individuais Visualize e explore dados no seu PC</a></h4>
                                        <p class="align-center"><a class="txt-destaques-home" href="{$URL}software/tibco/spotfire-desktop"> Saiba mais > </a></p>
                                    </div>
                                </div>
                                <div class="item col-xs-12 col-sm-12 col-md-12 bloco-dest-home pd-none">
                                    <div class="bola-rosa bola-dest"></div>
                                    <div class="row">
                                        <h3 class="destaques-home align-center"><a href="{$URL}software/tibco/spotfire-platform"> Spotfire® Platform </a></h3>
                                        <h4 class="txt-destaques-home align-center"><a href="{$URL}software/tibco/spotfire-platform"> Análise para sua Organização A solução analítica mais completa adequada desde pequenas equipes a organizações inteiras. </a></h4>
                                        <p class="align-center"><a class="txt-destaques-home" href="{$URL}software/tibco/spotfire-platform"> Saiba mais > </a></p>
                                    </div>
                                </div>
                                <div class="item col-xs-12 col-sm-12 col-md-12 bloco-dest-home pd-none">
                                    <div class="bola-cinza bola-dest"></div>
                                    <div class="row">
                                        <h3 class="destaques-home align-center"><a href="{$URL}software/tibco/spotfire-analytics-para-big-data"> Spotfire® Analytics <br> para Big Data </a></h3>
                                        <h4 class="txt-destaques-home align-center"><a href="{$URL}software/tibco/spotfire-analytics-para-big-data"> Análise para sua Organização A solução analítica mais completa adequada desde pequenas equipes a organizações inteiras. </a></h4>
                                        <p class="align-center"><a class="txt-destaques-home" href="{$URL}software/tibco/spotfire-analytics-para-big-data"> Saiba mais > </a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </section>                
        {include file="../inc/footer.html"}
    </div>
</body>
</html>