<!DOCTYPE HTML>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow">
	<meta name="description" content="" />
	<link href="{$URL}commom/img/icon-tab.png" rel="icon">
    {include file="../inc/cssUrmAmigavel.html"}
	<link rel="stylesheet" type="text/css" href="{$URL}commom/css/estilo.css">
	<title>BDA</title>
 	<!-- Bootstrap -->
    <link href="{$URL}commom/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container-fluid pd-none">
        {include file="../inc/header.html"}
            <!-- Banner -->
            <article class="banner-interna-faixa cor-linha-bn-software pd-none mg-top--5">
                <div class="width-default">
                    <h1 class="titulo-faixa-interna"> Toad Intelligence Central </h1>
                </div>
            </article> 
            <!-- Banner -->
            {include file="../inc/breadcrumb.html"}  
            <section class="conteudo-interna">
                <article class="width-default">
                    <div class="row">
                        <div class="col-xs-12 col-sm-11 col-md-11 pd-none-desk">
                            <div class="encapsula-desc-prod pd-tp-30">
                                <div class="bloco-desc-prod">
                                    <h2 class="txt-interna"><strong> Conecte perfeitamente dados, arquivos e usuários para colaboração aprimorada. </strong></h2>
                                    <p class="txt-interna">
                                        Compartilhe informações com facilidade entre a sua equipe com o Toad™ Intelligence Central. Este repositório centralizado, que compartilha arquivos do Toad e outros dados, permite uma colaboração eficiente e bem controlada. Não importa se está coletando e preparando dados no Toad Data Point ou se está compartilhando o código PL/SQL e os relatórios de análise de código no Toad for Oracle, é possível publicar centralmente seu trabalho no Toad Intelligence Central. Isso torna fácil e rápido o compartilhamento e a visualização de consultas, arquivos, objetos e conjuntos de dados - dentro da ferramenta certa. Com esse componente do servidor, você reduzirá o risco de falhas nos relatórios, ameaças à segurança e perda de dados ao mesmo tempo em que garante o controle dos dados.<br><br>

                                        Disponível para usuários do Toad Data Point e do Toad for Oracle:<br><br>
                                        <strong>Publicação de artefatos</strong> — Compartilhe todos os artefatos do Toad com seus outros usuários, incluindo diagramas, consultas visuais, automação, arquivos SQL e muito mais.
                                        <strong>Gerenciamento de direitos e controle de dados</strong> — Gerencie permissões e direitos de acesso para recursos compartilhados, preserve as regras de controle de dados.
                                        <strong>Scripts de automação</strong> — Crie scripts de automação no Toad e publique-os no Toad Intelligence Central, onde podem ser agendados para execução.
                                        <strong>Suporte do Active Directory®</strong> — Permita que os administradores gerenciem melhor os usuários e as equipes, adicionem e removam usuários de forma fácil e criem logins.

                                    </p><br>
                                    <ul class="bloco-linha-interna no-bg">
                                        <li class="linha-ul-interna">Acesso centralizado e controlado aos dados — Obtenha um único ponto de acesso para todos os seus dados.</li>
                                        <li class="linha-ul-interna">Criação de visualizações de SQL — Acesse os dados diretamente da origem através do SQL em vez de movê-los.</li>
                                        <li class="linha-ul-interna">Repositório de dados — Armazene conjuntos de dados ou snapshots e agende atualizações regulares.</li>
                                        <li class="linha-ul-interna">Integração da visualização de dados — Conecte-se e compartilhe dados com usuários de ferramentas de visualização de terceiros, como Microsoft®, Tableau®, Qlik® Sense™ e Spotfire®.</li>
                                        <li class="linha-ul-interna">Conexão às ferramentas da Dell ― Conecte-se ao Dell Boomi® para a integração com cloud computing do aplicativo e ao Dell Statistica™ para análises avançadas. Combinar essas ferramentas com o Toad fornece uma solução eficiente de gerenciamento de dados.</li>
                                        <li class="linha-ul-interna">Relatório de gerenciamento baseado na Web – Obtenha uma visualização consolidada da qualidade do código ao longo do tempo com relatório on-line de Análise de código (Adicional para o Toad For Oracle)</li>
									</ul>
                                    <a class="btn-download mg-bt-40" href="{$URL}">
                                        Download trial <br>30 dias
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <center><p class="titulo-interna-inst align-center">Solicite um orçamento</p></center>
                                <div class="mg-top--20">
                                    {include file="../inc/form.html"}
                                </div>
                            </div>
                        </div>   
                        <div class="col-xs-12 col-sm-1 col-md-1"></div>   
                    </div>
                </article>
            </section>                             
        {include file="../inc/footer.html"}
    </div>
</body>
</html>